<h1>User signup</h1>
<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
  <p>Username: <br /><%= f.text_field :username %></p>
  <p>Email: <br /><%= f.text_field :email %></p>
  <p>Password: <br /><%= f.password_field :password %></p>
  <p>User type: <br />
  <select name="user[type]">
    <option value="Author">Author</option>
    <option value="Administrator">Administrator</option>
  </select>
  <p><%= f.submit %></p>
<% end %>
